*{
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
select{
    -webkit-appearance: none;
}
body {
	line-height: 1;
    font-family: 'Roboto', sans-serif;
    background-color: #F1F3F5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
    text-decoration: none;
    color: #111;
    cursor: pointer;
}

.View320{
    display: none;
}

.container{
    width: 982px;
    margin: 0 auto;
}

/*HEADER*/
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 36px 0;
}

#header-contacts{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 526px;
}

.phone-icon{
    display: flex;
    width: 16px;
    height: 16px;
    background-color: #3EB813;
    border-radius: 50%;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.phone-icon i{
    font-size: 8px;
    color: #fff;
    margin-left: 1px;
}

.phone-numbers{
    display: flex;
    width: 402px;
    justify-content: space-between;
}

.telegram-icon{
    width: 18px;
    height: 18px;
    background-color: #3EB813;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.telegram-icon i{
    color: #fff;
    font-size: 14px;
    margin-right: 1px;
}

.telegram-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 116px;
    color: #3EB813;
    font-size: 14px;
}

/*CONTENT*/
.content{
    padding-top: 10px;
    padding-bottom: 200px;
    display: flex;
    justify-content: space-between;
}

.content-left{
    width: 647px;
}

.content-left-select{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.content-left-select select{
    width: 315px;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 0 12px;
    font-size: 14px; 
    outline-color: #3EB813;
    background-color: #fff;
}

.content-left-items-container{
    padding-top: 36px;
}

.content-left-items-container-header{
    font-size: 26px;
    margin-bottom: 32px;
}

.content-left-item{
    background-color: #fff;
    padding: 28px 26px;
    border-radius: 6px;
    margin-bottom: 24px;
}

.content-left-item-container{
    display: flex;
}

.content-left-item-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-left-item-header h2{
    width: 222px;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 18px;
}

.content-left-item-l{
    width: 222px;
}

.content-left-item-r{
    width: 372px;
}

.content-left-item-l h3{
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 4px;
}

.content-left-item-l h4{
    font-size: 14px;
}

.content-left-item-l span{
    font-size: 14px;
}

.content-left-item-r-date{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    width: 372px;
}

.content-left-item-r p{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 22px;
}

.content-left-item-r button{
    color: #3EB813;
    background-color: #fff;
    border: 1px solid #3EB813;
    border-radius: 4px;
    padding: 12px 18px;
    text-transform: uppercase;
}

.weight{
    font-size: 14px;
}

.weight i{
    color: #BDC4CC;
    margin-right: 7px;
}

.date{
    font-size: 12px;
    color: #BDC4CC;
}

.content-left-pagintaion{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 272px;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 46px;
}

.content-left-pagintaion span.active{
    background-color: #3EB813;
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.content-right{
    width: 288px;
}

.content-right-item{
    display: flex;
    margin-bottom: 20px;
}

.content-right h1{
    font-size: 26px;
    padding-top: 10px;
    margin-bottom: 24px;
}

.content-right-item p{
    font-size: 15px;
    line-height: 24px;
    width: 235px;
}

.content-right-item span{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid #3EB813;
    color: #3EB813;
    display: flex;
    align-items: center;
    text-align: center;   
    justify-content: center;
    font-weight: bold;
    margin-right: 14px;
}

/*Footer*/

#footer{
    display: flex;
    padding-top: 32px;
    border-top: 1px solid #BDC4CC;
}

.footer-phones, .footer-mail-and-telegram{
    width: 336px;
}

.footer-phones-item{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.footer-phones a{
    color: #3EB813;
    display: flex;
    align-items: center;
    margin-right: 7px;
}

.footer-mail-and-telegram-item{
    margin-bottom: 20px;
}

.footer-mail-and-telegram-item a{
    color: #3EB813;
    display: flex;
    align-items: center;
}

.footer-phones a .phone-icon, .footer-mail-and-telegram-item a .mail-icon, .footer-mail-and-telegram-item a .telegram-icon{
    margin-right: 16px;
}

.footer-terms p{
    color: #3EB813;
}

/*Modal menu*/

#modal-menu{
    position: fixed;
    background-color: rgba(1, 1, 1, .5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    z-index: 5;
}

.modal-menu-container{
    width: 371px;
    background-color: #F1F3F5;
    position: absolute;
    top: calc(50% - 246px);
    left: calc(50% - 185px);
    padding: 35px 29px;
    border-radius: 4px;
    transition: all ease 1s;
    z-index: 200;
}

.modal-menu-container.pt0{
    padding-top: 0;
}

.modal-menu-container.pt1{
    padding-top: 0;
    margin-top: -180px;
    height: calc(100% + 180px);
}

.modal-menu-container h1{
    font-size: 26px;
    margin-bottom: 26px;
}

.close{
    position: absolute;
    top: -20px;
    right: -18px;
    color: #fff;
}

.back-close, .date320 .date{
    display: none;
}

.modal-menu-container p{
    font-size: 14px;
    margin-bottom: 14px;
}

.modal-menu-container input{
    margin-bottom: 32px;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 4px;
    padding-left: 15px;
}

.modal-menu-container textarea{
    width: 100%;
    border: none;
    border-radius: 4px;
    height: 71px;
    resize: none;
    padding-left: 15px;
}

.modal-menu-container button{
    width: 100%;
    height: 40px;
    background-color: #3EB813;
    color: #fff;
    border-radius: 4px;
    border: none;
    margin-top: 31px;
}

#modal-menu.active{
    display: block;
}

.weight.weight320{
    display: none;
}

.select-container{
    position: relative;
}

.select-container i{
    position: absolute;
    top: 13px;
    right: 15px;
    color: #BDC4CC;
}

@media screen and (min-width: 720px) and (max-width: 1023px) {
    .container{
        padding: 0 20px;
        width: 100%;
    }
    .content-left{
        width: 62%;
        margin-right: 30px;
    }
    .content-left-item-header h2{
        font-size: 24px;
    }
    .content-left-item-l h3{
        margin-bottom: 18px;
    }
    .content-left-select select{
        width: 100%;
    }
    .content-right{
        width: 240px;
    }
    .content-right-item p{
        width: 80%;
    }
    .content-left-item-l, .content-left-item-header h2{
        width: 45%;
    }
    .content-left-item-r, .content-left-item-r-date{
        width: 55%;
    }
    #footer{
        flex-wrap: wrap;
        padding-bottom: 30px;
    }
    .footer-phones, .footer-mail-and-telegram{
        width: 50%;
    }
    .select-container{
        width: 49%;
    }
}

@media screen and (min-width: 540px) and (max-width: 719px) {
    .container{
        width: 100%;
        padding: 0 20px;
    }
    #header{
        align-items: flex-start
    }
    .phone-numbers .phone-icon{
        display: none;
    }
    .phone-numbers, #header-contacts{
        flex-direction: column;
        width: initial;
    }
    .phone-numbers{
        width: 100%;
        line-height: 24px;
    }
    .telegram{
        margin-top: 10px;
    }
    .content{
        flex-direction: column;
    }
    .content-left{
        width: 100%;
    }
    .content-right{
        order: -1;
        width: 100%;
    }
    .content-right-item p{
        width: 100%;
    }
    .content-left-select select{
        width: 100%;
    }
    .content-left-item-l, .content-left-item-header h2{
        width: 45%;
    }
    .content-left-item-r, .content-left-item-r-date{
        width: 55%;
    }
    #footer{
        flex-wrap: wrap;
        padding-bottom: 30px;
    }
    .footer-phones, .footer-mail-and-telegram{
        width: 50%;
    }
    .select-container{
        width: 49%;
    }
}

@media screen and (min-width: 320px) and (max-width: 539px) {
    .container{
        width: 100%;
        padding: 0 17px;
    }
    #header{
        align-items: flex-start;
        padding: 28px 0;
    }
    .phone-numbers .phone-icon{
        display: none;
    }
    .phone-numbers, #header-contacts{
        flex-direction: column;
        width: initial;
    }
    .phone-numbers{
        width: 100%;
        line-height: 24px;
    }
    .telegram{
        margin-top: 10px;
    }
    .content{
        flex-direction: column;
    }
    .content-left{
        width: 100%;
    }
    .content-right{
        order: -1;
        width: 100%;
    }
    .content-right-item p{
        width: 85%;
    }
    .content-left-select{
        flex-direction: column;
    }
    .content-left-select select{
        width: 100%;
        margin-bottom: 24px;
    }
    .content-left-item-header{
        flex-direction: column;
    }
    .content-left-item-l, .content-left-item-header h2{
        width: 100%;
    }
    .content-left-item-r, .content-left-item-r-date{
        width: 100%;
    }
    #footer{
        flex-wrap: wrap;
        padding-bottom: 30px;
    }
    .footer-phones, .footer-mail-and-telegram{
        width: 100%;
    }
    .content-left-item-container{
        flex-direction: column;
    }
    .flex-320{
        display: flex;
        margin-top: 20px;
        margin-bottom: 4px;
        align-items: center;
    }
    .content-left-item-l h4{
        margin-top: 2px;
    }
    .content-left-item-l h3{
        margin-top: 0;
        margin-bottom: 0;
    }
    .content-left-item-r button{
        width: 100%;
    }
    .modal-menu-container{
        top: 0;
        height: 100%;
        width: 100%;
        left: 0;
        padding-top: 76px;
    }
    .close{
        color: #3EB813;
        top: 30px;
        left: 30px;
    }
    .close i{
        display: none;
    }
    .back-close{
        display: flex;
    }
    .back-close i{
        display: block;
        margin-right: 4px;
    }
    .date{
        display: none;
    }
    .date320{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .date320 .date{
        display: block;
        margin-left: 14px;
        margin-top: 10px;
    }
    .date320 p{
        text-align: right;
    }
    .date320 h2{
        width: initial;
        margin-bottom: 0;
    }
    .weight{
        display: none;
    }
    .weight.weight320{
        display: block;
        padding: 18px 0;
    }
    .telegram-link span{
        font-size: 14px;
    }
    .telegram-link span.telegram-icon{
        order: 1;
        margin-top: -4px;
    }
    .content-left-items-container{
        padding-top: 6px;
    }
    .select-container{
        width: 100%;
    }
    .notView320{
        display: none;        
    }
    .View320{display: block;}
}
